<h2>Anime List</h2>
<label>Only Airing Shows
  <input type="checkbox" [checked]="hideFinishedShows" (change)="toggleHideFinishedShows()">
</label>
<label>Hide No New Episodes
  <input type="checkbox" [checked]="hideCaughtUpShows" (change)="toggleHideCaughtUpShows()">
</label>
<ul class="anime-list">
  <li *ngFor="let anime of (animeList | filterAiringShows: hideFinishedShows |
  filterCaughtUpShows: hideCaughtUpShows | sortBy: ['unwatchedAiredEpisodes', 'timeUntilNextEpisode', 'name']: [false, true])"
  [ngClass]="{'caught-up': anime.unwatchedAiredEpisodes == 0, 'aired': !anime.airing}">
    <a href="{{anime.malUrl}}" target="_blank">
      <img class="anime-poster" src="{{anime.imageUrl}}" alt="{{anime.name}}">
    </a>
    <span class="title">{{anime.name}}</span>
    <a class="source-link" href="{{source.url}}" target="_blank" *ngFor="let source of anime.sources">
      <img src="{{source.iconUrl}}" alt="{{source.name}}">
    </a>
    <span class="padding"></span>
    <div class="unwatched">
      <span class="unwatched-count">{{anime.unwatchedAiredEpisodes}}</span>
      <span class="label">episodes</span>
    </div>
  </li>
</ul>
