<h2>Anime List</h2>
<label>Only Airing Shows
  <input type="checkbox" [checked]="hideFinishedShows" (change)="hideFinishedShows = !hideFinishedShows">
</label>
<label>Hide No New Episodes
  <input type="checkbox" [checked]="hideCaughtUpShows" (change)="hideCaughtUpShows = !hideCaughtUpShows">
</label>
<ul class="anime-list">
  <li *ngFor="let anime of (animeList | filterAiringShows: hideFinishedShows |
  filterCaughtUpShows: hideCaughtUpShows | sortBy: 'unwatchedAiredEpisodes': false)"
  [ngClass]="{'caught-up': anime.unwatchedAiredEpisodes == 0, 'aired': !anime.airing}">
    <a href="{{anime.malUrl}}" target="_blank">
      <img class="anime-poster" src="{{anime.imageUrl}}" alt="{{anime.name}}">
    </a>
    <span class="title">{{anime.name}}</span>
    <a class="source-link" href="{{source.url}}" target="_blank" *ngFor="let source of anime.sources">
      {{source.name}}
    </a>
    <span class="unwatched">{{anime.unwatchedAiredEpisodes}}</span>
  </li>
</ul>
